* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  background-color: #E8E8E8;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

div#root {
  height: 100%;
}

header {
  padding-inline: 24px;
  margin: 0 auto;
  max-width: 1400px;
  height: 90px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 26px;
}

.logo-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

main {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 1035px;
  font-family: "Roboto", sans-serif;
}

.main-clock {
  font-size: 14rem;
  cursor: default;
}

.main-clock-info-controls {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

hr {
  width: 100%;
  margin-block: 48px;
  border: 1px solid white;
}

.clock-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.clock-face {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px 30px;
}

.clock-face > span {
  display: inline-block;
  line-height: 1;
}

.date {
  font-size: 1rem;
  margin-bottom: 10px;
}

.time {
  font-size: 3.6rem;
  margin-bottom: 16px;
}

.zone {
  font-size: 1.5rem;
}

.clock-caption {
  display: inline-block;
  margin-top:15px;
  padding: 0 30px;
  word-wrap: break-word;
  width: 100%;
}
