/* Variables */
:root {
  --time-switcher-border-radius: 28px;
  --selected-btn-inner-padding: 8px;
  --unselected-btn-inner-padding: 4px;
}

/* Custom styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  height: 100vh;
  background-color: #E8E8E8;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

div#root {
  height: 100%;
}

main {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: "Roboto";
  cursor: pointer;
  border: none;
  background-color: inherit;
}

/* Header & Logo */
header {
  padding-inline: 24px;
  margin: 0 auto;
  max-width: 1400px;
  height: 90px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 26px;
}

.logo-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* Main clock, info, and format control */
.main-container {
  display: flex;
  flex-direction: column;
  width: 1035px;
  font-family: "Roboto", sans-serif;
}

.main-clock {
  height: 17rem;
}

.main-clock-24h {
  font-size: 14rem;
  cursor: default;
}

.main-clock-12h {
  font-size: 12.5rem;
  cursor: default;
  display: flex;
  align-items: baseline;
}

.main-clock-12h-period {
  font-size: 5.75rem;
  font-weight: 600;
}

.main-clock-info-controls {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

/* .main-clock,
.main-clock-info-controls span {
  user-select: all;
} */

.time-format-switcher {
  background-color: white;
  border-radius: var(--time-switcher-border-radius);
}

.time-format-switcher button {
  border: none;
  padding-block: 5px;
  border-radius: var(--time-switcher-border-radius);
}

.btn-12h-unselected,
.btn-24h-unselected {
  background-color: transparent;
  color: black;
}

.btn-12h-selected,
.btn-24h-selected {
  background-color: black;
  color: white;
  width: 2.8em;
}

/* .btn-12h-selected {
  padding-right: var(--selected-btn-inner-padding);
}

.btn-24h-selected {
  padding-left: var(--selected-btn-inner-padding);
} */

.btn-12h-unselected {
  padding-right: var(--unselected-btn-inner-padding);
}

.btn-24h-unselected {
  padding-left: var(--unselected-btn-inner-padding);
}

/* Separator (between main clock and clock widgets) */
hr {
  width: 100%;
  margin-block: 48px;
  border: 1px solid white;
}

/* Search bar */
.search {
  width: 450px;
  margin-inline: auto;
  margin-bottom: 48px;
}

/* Clock widgets */
.clock-container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.clock-widget {
  display: flex;
  flex-direction: column;
}

.clock-face {
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px 30px;
  cursor: pointer;
}

.clock-face-selected {
  background-color: #010101;
  color: white;
  border: 2px solid black;
}

.clock-face > span {
  display: inline-block;
  line-height: 1;
}

.date {
  font-size: 1rem;
  margin-bottom: 10px;
}

.time {
  font-size: 3.6rem;
  margin-bottom: 16px;
}

.zone {
  font-size: 1.5rem;
}

.clock-caption {
  display: inline-block;
  margin-top:15px;
  padding: 0 30px;
  word-wrap: break-word;
}
